.header {
    overflow: hidden;
    background-color: mediumslateblue;
    padding: 20px 10px;
    box-shadow: 1px 1px 1px grey;
    width: 100%;
    margin: 0 !important;
}

.header a, canvas, Searchbar {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: navy;
    color: white;
}

.header-right {
    float: right;
    margin-right: 5%;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}