.top-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 5%;
    margin-top: 2%;
    margin-left: 10%;
}

/*.top-grid button {*/
    /*background-color: #2b7a78;*/
    /*color: white;*/
    /*border-radius: 10px;*/
    /*margin-top: 1%;*/
    /*padding: 10px;*/
/*}*/

.btn-grid {
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-right: 9%;
    margin-left: 12%;
    border-bottom: black;
    border-bottom: 1px solid black;
}

.grid-item {
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
}


.li-grid-container {
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #3aa3a9;
    padding: 15px;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 1%;
    box-shadow: 1px 1px 1px grey;
}

.li-grid-container:hover {
    background-color: #FFA500;
    color: white;
}

.top-grid h3 {
    margin-top: 1%;
    margin-left: 5%;
}

.grid-item-download {
    font-size: 15px;
    text-align: right;
}

.download-btn {
    border-radius: 10px;
    padding: 5px 10px;
}

.download-btn:hover {
    color:white;
    background-color: #2b7a78;
}

.jdenticon {
    height: 50%;
    width: 50%;
    z-index: 2;
}

.search {
    text-align: center;
}
