.home {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #2b7a78;
    z-index: 10;
    color: white;
}

.title {
    text-align: center;
}

.slogan {
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    text-align: center;
}

.buttons button {
    background-color: #FFA500;
    color: white;
    width: 50%;
    border-color: #FFA500;
    box-shadow: 1px 1px 1px #FFA500;
    border-radius: 10px;
    padding: 10px;
}

.btn {
    text-align: center;
}